.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 94px;
}

.grid__item {
  max-width: 370px;
  flex-basis: calc((100% - 20px) / 3);
  border: 1px solid #eeeeee;

  &:hover {
    cursor: pointer;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.grid__layer {
  position: relative;
  overflow: hidden;
  margin: 0;

  &:hover &--overlay {
    transform: translatex(0);
  }

  &--overlay {
    position: absolute;
    top: 0;
    margin: 0;
    max-width: 370px;
    max-height: 294px;
    padding: 49px 45px 49px 24px;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
    background: rgba(33, 150, 243, 0.9);
    transform: translatey(150%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.grid__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 24px;

  &--title {
    font-weight: 700;
    font-size: 1.28rem;
    line-height: 2.57rem;
    color: #212121;
  }

  &--description {
    font-size: 1.14rem;
    line-height: 2.14rem;
  }
}
