.logo {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 1.85rem;
  line-height: 1.29rem;
  text-decoration: none;
  padding-right: 93px;

  &--color1 {
    color: $brand-color;
  }
  &--color2 {
    color: #000000;
  }
  &--color3 {
    color: #ffffff;
  }
}
