/* okno modalne (puste) */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms ease, visibility 1000ms ease;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 221px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
}

/* okno modalne - folmularz */
.modal__header {
  font-weight: 700;
  font-size: 1.428rem;
  text-align: center;
  color: #212121;
  margin: 40px 40px 12px 40px;
}

.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 40px 10px 40px;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 0px 12px 42px;

  &:focus {
    outline: none;
    border-color: $brand-color;
  }

  &:focus + .modal__form-icon {
    border-color: $brand-color;
    fill: $brand-color;
  }
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: 2px;
}

.modal__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;

  &:focus {
    outline: none;
    border-color: $brand-color;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 0.85em;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__statute {
  margin: 20px 54px 0px 55px;
}

.modal-btn {
  font-weight: 700;
  font-size: 1.14rem;
  padding: 10px 76px;
  margin: 30px 164px;
  color: #ffffff;
  background: $brand-color;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Custom checkbox */

.modal__checkbox input {
  position: relative;
  width: 16px;
  height: 15px;
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 3px solid #212121;
  border-radius: 3px;
}

.modal__checkbox input:before {
  content: "";
  display: block;
}

.modal__checkbox input:checked {
  width: 16px;
  height: 15px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='none'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m1.957 4.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E")
    center / contain no-repeat;
  background-color: $brand-color;
  border: none;
}
