.prod-cat {
  display: flex;
  justify-content: space-between;

  &__thumb {
    position: relative;
  }
}

.prod-cat__label1,
.prod-cat__label2,
.prod-cat__label3 {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.prod-cat__label1 {
  padding: 27px 94px;
}
.prod-cat__label2 {
  padding: 27px 116px;
}
.prod-cat__label3 {
  padding: 27px 98px;
}
